<h2 class="text-center">🔥🔥🔥 ORIGINAL HOME PAGE DESIGN 🔥🔥🔥</h2>

<div class="row">
  <div class="col-sm-6">
    <h2 class="d-inline">Active projects</h2>
    <a class="view-all-button" [routerLink]="['/projects/active']">View all</a>
    <app-list-projects [pageSize]="5" [noPanel]="true" set="active"></app-list-projects>
  </div>
  <div class="col-sm-6">
    <h2 class="d-inline">Upcomming projects</h2>
    <a class="view-all-button" [routerLink]="['/projects/upcomming']">View all</a>
    <app-list-projects [pageSize]="5" [noPanel]="true" set="unstarted"></app-list-projects>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <h2 class="d-inline">Completed projects</h2>
    <a class="view-all-button" [routerLink]="['/projects/completed']">View all</a>
    <app-list-projects [pageSize]="5" [noPanel]="true" set="completed"></app-list-projects>

  </div>
  <div class="col-sm-6">
    <h2 class="d-inline">Developers </h2>
    <a class="view-all-button" [routerLink]="['/developers/all']">View all</a>
    <app-list-developers [pageSize]="5" [noPanel]="true"></app-list-developers>

  </div>
</div>