<h1 class="text-center">ORIGINAL_HOME_PAGE !</h1>

<div class="row">
  <div class="col-sm-6">
    <h1>Upcomming</h1>
    <app-upcomming-projects></app-upcomming-projects>
  </div>
  <div class="col-sm-6">
    <h1>Active</h1>
    <app-active-projects></app-active-projects>
  </div>
</div>

<div class="row">
    <div class="col-sm-6">
      <h1>completed</h1>
      <app-completed-projects></app-completed-projects>
    </div>
    <div class="col-sm-6">
      <h2>Top developers</h2>
    </div>
  </div>