<form [formGroup]="searchForm" class="form-inline"><input formControlName="keywords" class="form-control mr-sm-2"
    type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="fetch()">Search</button>
</form>
<div (mouseleave)="mouseLeave()" class="father">
  <div class="result">
    <div *ngIf="hasDevelopers">
      <h6>Developers</h6>
      <app-list-developers isModal="true" [data]='developers' [project]="context" [set]="set" [perPage]="5">
      </app-list-developers>
    </div>
    <div *ngIf="hasProjects">
      <h6>Projects</h6>
      <app-list-projects *ngIf="hasProjects" isModal="true" [data]='projects' [developer]="context" [set]="set"
        [perPage]="5">
      </app-list-projects>
    </div>
  </div>
</div>