<div>
  <div *ngIf="totalPages>1">
    <nav>
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" (click)="previousPage()">Previous</a>
        </li>
        <li class="page-item">
          <a class="page-link" (click)="nextPage()">Next</a>
        </li>
      </ul>
    </nav>
  </div>
  
  <div *ngIf="isModal">
    <div class="list-group" *ngFor="let element of projects" class="link-active">
      <a class="list-group-item list-group-item-action" [routerLink]='["/project",element.url]'>{{element.name}}</a>
    </div>
  </div>

  <div *ngIf="!isModal">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Project name</th>
          <th>Start</th>
          <th>Finish</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of projects">
          <td><a class="" [routerLink]='["/project",element.url]'>{{element.name}}</a></td>
          <td>{{element.startDate}}</td>
          <td>{{element.endDate}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>