<div class="">
  <div>
    
    <div class="row">
      <div class="d-inline-block project-name">
        <h2>{{project?.name}}</h2>
      </div>

      <button class="btn-edit btn " octicon="gear" (click)="edit()"></button>

    </div>
    <div class="row">
      <div class="col-sm-4 col">
        <span>Start date</span>
        <p>{{project?.startDate|date:"dd/MM/yyyy"}}</p>
        <span>End date</span>
        <p>{{project?.endDate|date:"dd/MM/yyyy"}}</p>
        <span>status</span>
        <p>
          <app-project-status [status]="project.status"></app-project-status>
        </p>
      </div>
      <div class="col-sm-8 col">
        <span>Description</span>
        <p class="description">
          {{project?.description}}
        </p>
      </div>

    </div>

    <div class="row">
      <div class="col">
      <h3>Developers</h3>
    </div>
    </div>
    <div class="row">

      <div class="col-sm-6">
        <h2 class="text-center info">Assigned</h2>
        <app-list-developers [project]="project.url" [pageSize]="5" set="associated" [noPanel]="false" [isModal]="false">
        </app-list-developers>
      </div>
      <div class="col-sm-6">
        <h2 class="text-center info">Not assigned</h2>
        <app-list-developers [project]="project.url" [pageSize]="5" set="nonassociated"
          [isModal]="false">
        </app-list-developers>
      </div>
    </div>




  </div>
</div>