<div class="">
  <div>
    <div class="row">
      <div class="d-inline-block">
        <h2>{{project?.name}}</h2>
      </div>

      <button class="btn-edit btn " octicon="gear" (click)="edit()"></button>

    </div>
    <div class="row">
      <div class="col-sm-4 col">
        <label>Start date</label>
        <p>{{start}}</p>
        <label>End date</label>
        <p>{{end}}</p>
      </div>
      <div class="col-sm-8 col">
        <h4>Description</h4>
        <p class="description col-sm-8">
          {{project?.description}}
        </p>
      </div>

    </div>
    <div class="row">
      <h5>Assign</h5>
      <div class="">
        <app-search set="nonassociated" type="developer" [context]="id"></app-search>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center info">Currently assigned developer</h2>
        <app-list-developers class="col-sm-6" [project]="id" [perPage]="5" set="associated" [data]="developers"
          [isModal]="false">
        </app-list-developers>
      </div>
    </div>
  </div>
</div>