div.body
{
    padding: 20px;
}
.body:first-child
{
   max-width: 900px;
}
div.project-name
{
    margin-left:20px;
}

div.ggg
{
    border: 0.5px grey solid;
}

.search-bar-style
{
    margin-bottom: 2em;
}