.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label,
span.has-error
 {
  color: #a94442;
}
.has-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-error .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}
.has-error .input-group-addon {
  color: #a94442;
  background-color: #f2dede;
  border-color: #a94442;
}
.has-error .form-control-feedback {
  color: #a94442;
}

button {
  -webkit-user-select: none; /* Webkit */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE 10  */
  /* Currently not supported in Opera but will be soon */
  -o-user-select: none;
  user-select: none;
  }
  tr
  {
      padding-left:1em;
  }
  td:focus {
      outline: none;
}
.btn-page-nav
{
    color:#212529;
    margin: 0px;
    border:0px;
    background-color: transparent;
}
.btn-page-nav-off
{
    color: rgba(124, 124, 124, 0.514);
}
span.page
{
    font-size: 1em;

}
.page, .btn-page-nav
{
    padding: 5px;
}


div.search-panel input,div.search-panel button
{
  
  height: 100%;
  margin-top:0px;
  margin-bottom:0px;
  margin-left: 0px;
  margin-right: 0px;
  padding:0px 5px;
  border-radius:0px;

  border: 1px grey solid;
}

 div.search-panel
{
  background-color:red;
}


div.search-panel input
{
border-top-left-radius:3px;
border-bottom-left-radius:3px;
box-sizing:content-box;
outline: 0px;

}
div.search-panel button
{
  box-sizing: border-box;
  color:grey;
  margin-right: 10px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;

}


