
<form [formGroup]="createForm" class="form-horizontal" (ngSubmit)="onSubmit()">
    <h3 class="">Add developer</h3>
    <div class="form-group" [ngClass]="{'has-error':fullName.invalid &&(fullName.touched||fullName.dirty)}">
      <label for="fullName" class="control-label col-sm-2">Full name</label>
      <div class="col-sm-8">
        <input id="fullName"  placeholder="Developer Full Name here" formControlName="fullName" type="text" class="form-control">
        <span *ngIf="fullName.invalid &&(fullName.touched||fullName.dirty)">
          <span *ngIf="fullName.errors.required">Full name is required</span>
        </span>
      </div>
    </div>
    <div class="form-group" [ngClass]="{'has-error': nickname.errors&&(nickname.touched||nickname.dirty)}">
      <label for="nickname" class="control-label col-sm-2">Nickname</label>
      <div class="col-sm-8">
        <input id="nickname" placeholder="Developer unique nickname" type="text" formControlName="nickname" class="form-control">
        <span *ngIf="nickname.invalid&&(nickname.touched||nickname.dirty)">
          <span *ngIf="nickname.errors.required">
            Nickname is required
          </span>
          <span *ngIf="nickname.errors?.serverError">
            {{nickname.errors.serverError}}
          </span>
        </span>
      </div>
    </div>

    <div class="form-group">
        <label for="skills" class="control-label col-sm-2">Skills</label>
        <div class="col-sm-8">
          <input id="skills" type="text" formControlName="skills" class="form-control">
        </div>
      </div>
      

    <button class="btn btn-primary" type="submit">Save</button>
</form>

<table border="1">
    <tr>
      <th style="padding:10px">FormGroup</th>
      <th style="padding:10px">FormControl (fullName)</th>
    </tr>
    <tr>
      <td style="padding:10px">
        touched: {{createForm.touched}}
        <br /> dirty:{{createForm.dirty}}
        <br /> valid: {{createForm.valid}}
        <br /> Form Values: {{createForm.value|json}}
      </td>
      <td style="padding:10px">
        touched: {{createForm.get("fullName").touched}}
        <br /> dirty:{{createForm.get('fullName').dirty}}
        <br /> valid: {{createForm.get('fullName').valid}}
        <br /> Form Values: {{createForm.get('fullName').value|json}}
        <br/> {{nickname.errors|json}}
      </td>
    </tr>
  
  </table>
