<div *ngIf="!disabled">

  <div *ngIf="hasItems">
    <div class="list-group" *ngIf="isModal">
      <div *ngFor="let element of developers">
        <a class="list-group-item list-group-item-action" [routerLink]='["/developer",element.url]'>{{element.nickname}}
        </a>
      </div>
    </div>
    <div *ngIf="!isModal">
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th style="width:60%">Full name</th>
            <th style="width:30%">Nickname</th>
            <th style="width:10%"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let element of developers">
            <td class="align-middle" [routerLink]='["/developer",element.url]'>{{element.fullName}}</td>
            <td class="align-middle" [routerLink]='["/developer",element.url]'>{{element.nickname}}</td>
            <!-- <td   >{{element.skills|json}}</td> -->
            <td>
              <app-assign-button [developer]="element.url" [project]="project" [isAssigned]="element.project==project">
              </app-assign-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="totalPages>1">
      <nav>
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" (click)="previousPage()">Previous</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="nextPage()">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div *ngIf="!hasItems">
    no developers
  </div>
</div>