<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
    <div class="container">
      <a class="navbar-brand" [routerLink]='["/create"]'>WebApplication9</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="nav navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-dark" [routerLink]='["/developers/create"]'>Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Projects
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]='["/projects/create"]'>Create</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" [routerLink]='["/projects/upcomming"]'>Upcomming</a>
              <a class="dropdown-item" [routerLink]='["/projects/active"]'>Active</a>
              <a class="dropdown-item" [routerLink]='["/projects/completed"]'>Completed</a>   
              <a class="dropdown-item" [routerLink]='["/projects/all"]'>All</a>   
                     
            </div>
          </li>

          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Developers
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" [routerLink]='["/developers/create"]'>Create</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" [routerLink]='["/developers/all"]'>All</a>
                <a class="dropdown-item" [routerLink]='["/projects/active"]'>Currently Busy</a>
                <a class="dropdown-item" [routerLink]='["/projects/completed"]'>Currently Free</a>          
              </div>
            </li>


            <li class="form-inline my-2 my-lg-0">
                <app-search [type]="'any'"></app-search>
            </li>
            

        </ul>
      </div>
    </div>
  </nav>
</header>